<div id="content">

  <h1>Discover Restaurants by city</h1>
  <br>
    <% @restaurants.select(:city).group(:city).each do |r| %>
      <div class="city-box">
      <%= link_to "#{r.city}", restaurants_by_city_path(r.city) %> 
      </div>
    <% end %>
  
</div>
