
<table style="width: 80%">
<tr>
  <th>Restaurants</th>
  
<% @restaurants.each do |r| %>
  <tr>
    <td><strong><%= link_to r.name, restaurant_path(r) %></strong></td>
    <td><%= link_to "Book Restaurant", new_restaurant_booking_path(r)%></td>
  </tr>
<% end %>
  
</table>

<%# {"London"=>
  [#<Restaurant:0x00007fed9e023f30
    id: 1,
    name: "The Wolsely",
    city: "London",
    website: "https://www.thewolseley.com",
    phone_number: nil,
    ratings: nil,
    capacity: 20,
    created_at: Fri, 15 Nov 2019 15:08:06 UTC +00:00,
    updated_at: Fri, 15 Nov 2019 15:08:06 UTC +00:00>,
   #<Restaurant:0x00007fed9e023d78
    id: 2,
    name: "Hoppers",
    city: "London",
    website: "https://www.hopperslondon.com",
    phone_number: nil,
    ratings: nil,
    capacity: 30,
    created_at: Fri, 15 Nov 2019 15:08:06 UTC +00:00,
    updated_at: Fri, 15 Nov 2019 15:08:06 UTC +00:00>] %>